# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# AI model files
*.pkl

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build files
dist/
build/

# ZIP files
*.zip
